In [ ]:
a = [1,4,5,6]

b = a